<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="upper-head">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <img class="govt-logo" alt="Indian govt Logo" src="https://www.cowin.gov.in/assets/images/emblem-gov.svg" />
          <span>Ministry of Health and Family Welfare</span>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-head">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <img alt="Covid Logo" src="https://www.cowin.gov.in/assets/images/new-logo.svg" />
        </div>
        <div class="col-6">
          <ul class="nav nav-ele">
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff; "href="#">ABHA(Health ID)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;" href="#">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;" href="#">Register / Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
