<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="upper-head">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <img class="govt-logo" alt="Indian govt Logo" src="https://www.cowin.gov.in/assets/images/emblem-gov.svg" />
          <span class="text pl-2">Ministry of Health and Family Welfare</span>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-head">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 pt-1">
          <a routerLink=""><img alt="Covid Logo" src="https://www.cowin.gov.in/assets/images/new-logo.svg" /></a>
        </div>
        <div class="col-6">
          <ul class="nav pt-1 nav-ele">
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;" routerLink="dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff; " routerLink="abha">ABHA(Health ID)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;" routerLink="faqs">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fff;" routerLink="registration">Register / Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
