.toolbar{
  /* position: relative; */
}

.upper-head{
  padding-left: 15px;
  background-color: #045d5d;
  color: #fff;
}

.lower-head{
  padding: 15px;
  /* text-align: center; */
  background-color: #017e7e;
  color: #fff;
  height: 75px;  
}

.govt-logo{
  height: 50px;
  width: 22px;
}

.nav-ele{
  float: right;
}



