<div class="toolbar" role="banner">
  <div class="upper-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <img class="govt-logo" alt="Indian govt Logo" src="https://www.cowin.gov.in/assets/images/emblem-gov.svg" />
          <span>Ministry of Health and Family Welfare</span>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 footer-ele-left">
          <h5>All Rights Reserved</h5>
        </div>
        <div class="col-2">
          <img width="80" src="https://www.cowin.gov.in/assets/images/national-health-authority.jpg"
            alt="Indian govt Logo">
        </div>
        <div class="col-2">
          <img width="20" src="https://www.cowin.gov.in/assets/images/undp-logo-vertical.svg" alt="undp logo">
        </div>
        <div class="col-4 footer-ele-right">
          <h5>Terms of Service | Privacy Policy</h5>
        </div>
      </div>
    </div>
  </div>
</div>
