<div class="main-body">
  <div class="body-first">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1 class="text-1">Historic & Unparalleled Achievement ! <br> India's Glorius Journey of <br> <span style="color: rgb(234, 33, 33);
          ">200 CORORE
              VACCINATIONS</span></h1>
          <h2 class="text-2">"India is set to defeat Covid-19. Every Indian is making it possible." <br>- PM Barun
            Rai</h2>
        </div>
        <div class="col-6 img-map">
          <img src="https://www.cowin.gov.in/assets/images/independance.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="body-second">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6 pt-3">
          <h2>Total Vaccination Doses</h2>
          <h2>xxcountxx</h2>
        </div>
        <div class="col-6 pt-3">
          <h2>Vaccination Done Today</h2>
          <h2>xxcountxx</h2>
        </div>
      </div>
    </div>
  </div>
</div>
